#capture-container {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-top: 1rem;
    padding: 0;
}

#capture {
    height: 446px;
    width: 1446px;
    position: relative;
    text-wrap: nowrap;
}

#capture img {
    height: 446px;
    width: 1446px;
    position: absolute;
    top: 0;
    left: 0;
}

@font-face {
    font-family: 'FactExtraBold';
    src: url('./fonts/Fact_Extra-Bold.woff') format('woff'),
        url('./fonts/Fact_Extra-Bold.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

h1 {
    color: white;
    position: absolute;
    top: 35px;
    left: 762px;
    font-family: "FactExtraBold", sans-serif;
    font-size: 45px;
}

h2 {
    color: white;
    position: absolute;
    top: 94px;
    left: 762px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #F5CC29;
    font-size: 30px;
}

h3 {
    color: white;
    position: absolute;
    left: 826px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: x-large;
}

#telephone {
    top: 193px;
}

#instagram {
    top: 239px;
}

#email {
    top: 284.8px;
}

#address {
    top: 327px;
    width: 600px;
    text-wrap: wrap;
}